<div class="search-bar">
  <input type="text" [(ngModel)]="filter" (keyup)="onFilterChange($event)" placeholder="Search by id or subject...">
</div>

<div class="ticket-list">
  <div class="ticket-card" *ngFor="let ticket of tickets">
    <h3>{{ ticket.subject }}</h3>
    <p>Ticket ID: {{ ticket.id }}</p>
    <div [ngClass]="{'open': ticket.status === 'OPEN', 'closed': ticket.status === 'CLOSED'}">Status:
      {{ ticket.status }}</div>

  </div>
</div>

<div *ngIf="tickets.length === 0">
  <p>You have no open tickets.</p>
</div>
